<h1>
  These are your completed tasks!
</h1>

<div class="container">

  <br><hr><br>
  
  <div *ngIf="completedlist?.length > 0">
      <ul class="list-group">
        <li *ngFor="let task of completedlist" class="list-group-item">
          <div class="row">
              <span [ngClass]="{tachado: task.completed === true}"> {{task.name}} </span>
            <!-- <div class="col-xs-6">
              <div class="col-xs-1">
                <button (click)="changeTask(task)" 
                        class="btn btn-default btn-sm glyphicon"
                        [ngClass]="{'glyphicon-eye-close': task.completed === false,
                                    'glyphicon-eye-open': task.completed === true}">
                </button>
              </div>
              <div class="col-xs-1"></div>
              <div class="col-xs-4">
                 <span [ngClass]="{tachado: task.completed === true}"> {{task.name}} </span>
              </div>
  
            </div>
  
            <div class="col-xs-6">
              <button class="btn btn-default btn-sm glyphicon glyphicon-trash" (click)="deleteTask(task)">
              </button>
            </div> -->
  
          </div>
        </li>
      </ul>
    </div>

    <div *ngIf="completedlist.length <= 0">
        Come on! You do not have any completed task!!
      </div>
  </div>

